@font-face {
  font-family: "myfont";
  src: url("font/myfont.ttf");
}

* {
cursor: url("img/sword.cur"), auto;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "myfont";

   background: #4b2e14;

  color: white;


  display: flex;
  justify-content: flex-end;   /* moves box to the right */
  align-items: center;         /* vertical center */
  padding-right: 60px;
}

.image-side {
  width: 45%;

  display: flex;

  justify-content: center;
}

.image-side img {
  width: 100%;

  max-width: 400px;

  border-radius: 20px;

  box-shadow:
    0 0 30px rgba(0,0,0,0.8);

  object-fit: cover;
}

/* Right-side text panel */
.textbox {
  width: 40%;
  max-width: 650px;

  padding: 40px;

  background: rgba(70, 40, 15, 0.95);

  border-left: 6px solid #8b5a2b;

  border-radius: 20px 0 0 20px;

  color: white;

  box-shadow:
    0 0 30px rgba(0, 0, 0, 0.8),
    0 0 20px rgba(139, 90, 43, 0.5);

  text-align: left;
}

/* Heading */
.textbox h2 {
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 20px;

  color: #d2a679;
}

/* Paragraph text */
.textbox p {
  font-size: 20px;
  line-height: 1.8;

  color: white;
}

/* TITLE BOX */
.title-box {
  position: absolute;

  top: 30px;
  left: 50%;

  transform: translateX(-50%);

  padding: 15px 40px;

  background: rgba(70, 40, 15, 0.95);

  border: 3px solid #8b5a2b;

  border-radius: 20px;

  box-shadow:
    0 0 30px rgba(0,0,0,0.8),
    0 0 20px rgba(139, 90, 43, 0.5);

  z-index: 10;
}

/* TITLE TEXT */
.title-box h1 {
  margin: 0;

  font-size: 55px;

  color: #d2a679;

  letter-spacing: 2px;
}